{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       Hello! I'm Saurabh Shukla, a pre-final year student at Chitkara University, holding a CGPA of 9.02. Passionate about full-stack development, I'm actively engaged as a freelancer.

In my current role as a Full Stack Developer for Developer IADA, an initiative by the Himachal Pradesh Government in the Industrial Social sector, I collaborate with a team to develop their website and billing portal.

Having successfully delivered over 2 projects/websites for the university, my proficiency as a Full Stack Developer is evident. As the Webmaster of the IEEE Student Chapter, I played a pivotal role in developing the official website for IEEE CUIET.

In my role as IT Secretary at CEED, the E-Cell of Chitkara University, Himachal Pradesh, I not only developed the website for CEED but also actively collaborated with startups under its umbrella. My adaptability shines through my collaboration with small-scale early startups.

I have a keen interest in learning through project development. I consider myself an adaptable developer, always eager to explore and learn from new technologies. Embracing challenges and staying updated with emerging trends is what drives my enthusiasm for continuous learning.

Looking forward to leveraging my skills and experiences in contributing to challenging projects and opportunities.
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}